<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <h1>hello world ejs</h1>
        <h3>sign in<h3>
        <div>
            <form action="/testnext" method="POST">
                User name:<br>
                <input type="text" name="testusername"><br>
                User password:<br>
                <input type="password" name="testpassword"><br>
                your email:<br>
                <input type="email" name="testemail"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>